sqlalchemy==2.0.29
PySocks==1.7.1
fastapi==0.110
requests==2.31
uvicorn==0.29
stem==1.8.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
beautifulsoup4==4.12.3
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
Backtesting==0.3.3
TA-Lib==0.4.29
# pandas==1.4.4
pandas==2.2.2